@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

html, body {
    min-height:100%;
} 

body {
  background-image: linear-gradient(rgb(241, 132, 132), rgb(104, 13, 13));
  color: rgb(206, 206, 206);
  text-align: center;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.card {
  width: 500px;
  height: 220px;
  margin: 67px;
}

#main-container {
  margin: 0 auto;
  margin-top: 20px;
  align-content: center;

  #form-container {
    width: 40%;
    margin: auto;
    justify-content: center;
    color: white;
  }
}

#add-card-btn {
  background-image: linear-gradient(rgb(85, 85, 85), rgb(44, 44, 44));
  border-radius: 15px;
  border-color: rgb(255, 255, 255); 
  border-style: groove;
}

#google-auth {
  background-image: linear-gradient(rgb(85, 85, 85), rgb(44, 44, 44));
  border-radius: 15px;
  border-color: rgb(255, 255, 255);  
  border-style: groove;
}

.navbar-dark .navbar-brand {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 2em;
}

.card-body {
  color: white;
  background-image: linear-gradient(to bottom right, rgb(122, 118, 118), rgb(17, 17, 17));
  border-color: rgb(255, 255, 255); 
  border-style: groove;
  border-radius: 15px;
}

#store {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  background-image: linear-gradient(rgb(85, 85, 85), rgb(44, 44, 44));
  border-radius: 15px;
  border-color: rgb(255, 255, 255); 
  border-style: groove;
}
